html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; 
  font-size: 16px;
  font-weight: 200;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
  
nav, footer {
  padding: 1em 0;
  background-color: #aaa;
  line-height: 1;
}
  
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
  
header {
  padding: 12% 0;
  background-image: url(images/square_background.jpg);
  background-size: cover;
  background-position: center;
  margin: 3em 0 0;
}

h1 {
  color: rgba(0, 0, 0, 0);
}

h2 {
  font-size: 40px;
  padding: 6% 0;
}
  
section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}
  
section:nth-child(even) {
  background-color: #ddd;
}

.results li {
  border-bottom: solid black 1px;
  padding: 1em;
}

.component {
  margin: 1em;
}

p {
  text-align: left;
}

.hidden {
  display: none;
}

@media screen and (min-width: 650px) {

  header {
    background-image: url(images/park\ background.jpg);
    padding: 6% 0;
  }

}